/*************************/
/*    Styling  Header    */
/*************************/
header{ 
    overflow: hidden; 
} 
  
#top-header{   
    text-align: center; 
    height: 60px; 
} 
  
/****************/    
/* Styling Logo */
/****************/
#logo{ 
    float: left; 
    padding: none; 
    margin: none; 
    height: 60px; 
    width: 30%; 
} 
  
#logo img{ 
    width: 60%; 
    float: left; 
    padding: 10px 0px; 
}     
  
/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{ 
    float: right; 
    width: 70%; 
    height: 100%; 
    margin: none; 
} 
      
#menu ul{ 
    text-align: center; 
    float: right; 
    margin: none; 
    background: #0074D9; 
} 
      
#menu li{ 
    display: inline-block; 
    padding: none; 
    margin: none; 
} 
      
#menu li a, #menu li span{ 
    display: inline-block; 
    padding: 0em 1.5em; 
    text-decoration: none; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 60px; 
} 
      
#menu li a{
    color: #FFF; 
} 
      
#menu li:hover a, #menu li span{ 
    background: #FFF; 
    color: #0074D9; 
    border-left: 1px solid #0074D9; 
    text-decoration: none; 
} 

/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{ 
    top: 10px; 
    position: relative; 
} 
  
#header-image-menu img{ 
    width: 100%; 
    margin: none; 
    padding: none; 
} 
  
#image-text{ 
    position: absolute;
    top: 20%; 
    left: 43%; 
    font-family:'Baskerville'; 
    color: #C039; 
    transform: translate(-30%, -30%); 
    text-align: center; 
} 

/**********************************/
/* Styling Main content Section 1 */
/**********************************/
#welcome 
{   overflow: hidden; 
    width: 1000px; 
    margin: 0px auto; 
} 
          
#welcome .title{ 
    margin-top: 20px; 
    padding: 20px; 
    text-align: center; 
} 
  
#welcome p{ 
    margin-bottom: 40px; 
    text-align: center; 
} 

.button { 
    text-decoration: none; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    background-color: #4CAF50;  
    color: white;  
    border: 2px solid #4CAF50; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    cursor: pointer; 
} 
      
.button:hover { 
    background-color: white; 
    color: #4CAF50; 
} 

#section-2{ 
    overflow: hidden; 
    margin-top: 5em; 
    padding-top: 1em; 
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
    text-align: center; 
} 

.row #column1,  
.row #column2, 
.row #column3{ 
        float: left; 
        width: 320px; 
        padding: 80px 40px 80px 40px; 
} 

.column-title h2{ 
    margin: 1em 0em; 
    font-size: 1.6em; 
    font-weight: 700; 
} 

html, body{ 
    height: 100%; 
} 
      
body{ 
    margin: 0px; 
    padding: 0px;  
    font-family: 'Roboto'; 
    font-size: 12pt; 
} 
          
h1, h2, h3{ 
    margin: 0; 
    padding: 0; 
    color: #404040; 
} 
      
p, ol, ul{ 
    margin-top: 0; 
} 
  
p { 
    line-height: 180%; 
} 
  
ol, ul{ 
    padding: 0; 
    list-style: none; 
} 

.container{     
    /* Set width of container to  
        1200px and align center */
    margin: 0px auto; 
    width: 1200px; 
} 










